.form-title {
  & h1 {
    text-align: left;
    font-family: "Roboto", sans-serif;
    color: #005fed;
    font-weight: bold;
  }
}

.form-button {
  display: flex;
  justify-content: flex-start;
  & button {
    width: 100%;
    font-family: "Roboto", sans-serif;
    border: 1px solid #005fed;
    &:hover {
      background: #005fed !important;
    }
  }
}

span {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: underline !important;
  color: #005fed !important;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
