<div class="form-title">
  <h4>Registre-se e mostre o seu Pet!</h4>
</div>

<form class="form mt-4" [formGroup]="newUserForm" (submit)="cadastrar()">
  <div class="form-group mb-3">
    <input
      class="form-control"
      type="text"
      placeholder="E-mail"
      formControlName="email"
    />
    <app-message
      *ngIf="newUserForm.get('email')?.errors?.['required'] && newUserForm.get('email')?.touched"
      mensagem="E-mail obrigatório"
    ></app-message>
    <app-message
      *ngIf="newUserForm.get('email')?.errors?.['email']  && newUserForm.get('email')?.touched"
      mensagem="E-mail no formato incorreto"
    ></app-message>
  </div>
  <div class="form-group mb-3">
    <input
      class="form-control"
      type="text"
      placeholder="Nome Completo"
      formControlName="fullName"
    />
    <app-message
      *ngIf="
        newUserForm.get('fullName')?.errors &&
        newUserForm.get('fullName')?.touched
      "
      mensagem="Nome incorreto"
    ></app-message>
  </div>
  <div class="form-group mb-3">
    <input
      class="form-control"
      type="text"
      placeholder="Usuário"
      formControlName="userName"
    />
    <app-message
      *ngIf="newUserForm.get('userName')?.errors?.['lowercase'] && newUserForm.get('userName')?.touched"
      mensagem="O nome do usuário deve ser em letra minúscula"
    ></app-message>
  </div>
  <div class="form-group mb-3">
    <input
      class="form-control"
      type="password"
      placeholder="Senha"
      formControlName="password"
    />
  </div>
  <span>Já possui uma conta? <a [routerLink]="['/']">Clique Aqui!</a></span>
  <div class="form-button mt-3">
    <button class="btn btn-primary" type="submit">Cadastre-se</button>
  </div>
</form>
