<div class="form-title">
  <h4>Registre-se e mostre o seu Pet!</h4>
</div>

<form class="form mt-4">
  <div class="form-group mb-3">
    <input class="form-control" type="text" placeholder="Email" />
  </div>
  <div class="form-group mb-3">
    <input class="form-control" type="text" placeholder="Nome Completo" />
  </div>
  <div class="form-group mb-3">
    <input class="form-control" type="text" placeholder="Usuário" />
  </div>
  <div class="form-group mb-3">
    <input class="form-control" type="password" placeholder="Senha" />
  </div>
  <span>Já possui uma conta? <a [routerLink]="['/']">Clique Aqui!</a></span>
  <div class="form-button mt-3">
    <button class="btn btn-primary" type="submit">Cadastre-se</button>
  </div>
</form>
