header {
  background: #fff;
  padding: 0.5rem 0;
  & .header-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    & h4 {
      color: #000;
      margin: 0;
      font-family: "Roboto", sans-serif;
      font-weight: 600;
      color: #005fed;
    }
  }
}
