<ngx-spinner
  bdColor="#005fed"
  size="medium"
  color="#fff"
  type="ball-spin"
  [fullScreen]="true"
  ><p style="color: white">Carregando...</p></ngx-spinner
>

<header>
  <div class="container">
    <div class="row">
      <div class="col-12 header-logo">
        <figure class="logo mb-0">
          <img src="../../../../assets/img/favicon.png" alt="Logo" />
          <h4>Animals Feed</h4>
        </figure>
        <div class="icon-login" *ngIf="user$ | async as user">
          <div class="logado" *ngIf="user.name; else login">
            <i class="fa fa-user"></i>
            <a class="cursor-none">{{ user.name }}</a>
            <a (click)="logout()">Sair</a>
          </div>
        </div>
      </div>
      <ng-template #login>
        <span>
          <a [routerLink]="['']">Login</a>
        </span>
      </ng-template>
    </div>
  </div>
</header>
