<article class="container animal-detail" *ngIf="animal$ | async as animal">
  <div class="row">
    <div class="col-lg-8">
      <app-animal
        [url]="animal.url"
        [description]="animal.description"
      ></app-animal>
    </div>
    <div class="col-lg-4 d-flex flex-column justify-content-between">
      <div class="description list-group-item">
        <small class="d-flex justify-content-between">
          <div class="d-block">
            <i (click)="like()" class="fa-regular fa-heart mx-2">{{
              animal.likes
            }}</i>
            <i class="fa-regular fa-comment mx-2">{{ animal.comments }}</i>
          </div>
          <i
            class="fa-solid fa-ellipsis-vertical mx-2"
            [matMenuTriggerFor]="menuLateral"
          ></i>
          <mat-menu #menuLateral="matMenu">
            <button mat-menu-item (click)="delete()">Excluir</button>
          </mat-menu>
        </small>
        <div class="description-user px-2">
          <p class="text-left text-break m-0">
            {{ animal.description }}
          </p>
        </div>
      </div>
      <app-comments
        [id]="animalId"
        *ngIf="animal.allowComments; else warning"
      ></app-comments>
      <ng-template #warning>
        <p>Usuário não pode comentar o animal.</p>
      </ng-template>
    </div>
  </div>
</article>
