<article class="container animal-detail" *ngIf="animal$ | async as animal">
  <div class="row">
    <div class="col-lg-8">
      <app-animal
        [url]="animal.url"
        [description]="animal.description"
      ></app-animal>
    </div>
    <div class="col-lg-4">
      <small class="list-group-item d-flex justify-content-between">
        <div class="d-block">
          <i (click)="like()" class="fa fa-heart-o fa-2x mx-2">{{
            animal.likes
          }}</i>
          <i class="fa fa-comment-o fa-2x mx-2">{{ animal.comments }}</i>
        </div>
        <i class="fa fa-bars fa-2x mx-2" [matMenuTriggerFor]="menuLateral"></i>
        <mat-menu #menuLateral="matMenu">
          <button mat-menu-item (click)="delete()">Excluir</button>
        </mat-menu>
      </small>
      <p class="text-left break-word">{{ animal.description }}</p>
      <app-comments
        [id]="animalId"
        *ngIf="animal.allowComments; else warning"
      ></app-comments>
      <ng-template #warning>
        <p>Usuário não pode comentar o animal.</p>
      </ng-template>
    </div>
  </div>
</article>
