<div class="form-title">
  <h4>Login</h4>
</div>

<form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="form-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Usuário"
      [(ngModel)]="usuario"
      name="usuario"
      #campoUsuario="ngModel"
      required
    />
    <app-message
      *ngIf="campoUsuario.invalid && campoUsuario.touched"
      mensagem="O usuário é obrigatório!"
    ></app-message>
  </div>

  <div class="form-group mb-4">
    <input
      type="password"
      class="form-control mb-3"
      placeholder="Senha"
      [(ngModel)]="senha"
      name="senha"
      #campoSenha="ngModel"
      required
    />
    <app-message
      *ngIf="campoSenha.invalid && campoSenha.touched"
      mensagem="A senha é obrigatória!"
    ></app-message>
    <span
      >Não possui conta? <a [routerLink]="['newuser']">Clique Aqui!</a></span
    >
  </div>
  <div class="form-button">
    <button
      type="submit"
      class="btn btn-primary btn-block"
      [disabled]="loginForm.invalid"
    >
      Entrar
    </button>
  </div>
</form>
