.form-title {
  & h4 {
    text-align: left;
    font-family: "Roboto", sans-serif;
    color: #005fed;
  }
}

.form {
  text-align: left;
  & button {
    width: 8rem;
    font-family: "Roboto", sans-serif;
    border: 1px solid #005fed;
    &:hover {
      background: #005fed !important;
    }
  }
}

a {
  text-decoration: underline;
  color: #005fed;
}
